{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block css %}
    
{% endblock %}
{% block content %}
<p>
    A job portal's "About" section typically provides information about the company or website, including its mission, history, and values. It's important for job seekers to read this section to get a better understanding of the organization and its goals. 

Here is an example of an "About" section for a job portal:

Welcome to Helping Hand, the leading online platform connecting job seekers and employers worldwide. Our mission is to help people find their dream job and companies to discover the perfect candidates. 

Our team of experienced professionals is dedicated to providing top-notch services to both job seekers and employers. We are passionate about helping people succeed in their careers and building strong relationships with companies.

At Helping Hand, we value diversity, equality, and transparency. We believe that a diverse workforce leads to innovation and creativity, and we are committed to promoting equal opportunities for all. We also believe in being transparent about our processes and policies, and we welcome feedback from our users to improve our services.

Thank you for choosing Helping Hand as your go-to destination for job search and recruitment. We look forward to helping you achieve your career goals.

</p>
{% endblock %}
{% block js %}
    
{% endblock %}
