{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Check Jobs</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9 mt-5">
            <div class="container-fluid">
                <div class="row">
                    {% for item in job_filter.qs %}
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            {% if item.company_logo %}
                            <img src="{{item.company_logo.url}}" alt="" class="card-img">
                            {% endif %}
                            <div class="card-body">
                                <div class="card-title">
                                    {{item.title}}
                                </div>
                                <p class="lead">
                                    {{item.company_name}}
                                </p>
                                <a class="btn btn-primary"  href="{% url 'job' item.id %}">View Description</a>
                                
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <form>
                {% bootstrap_form job_filter.form %}
                <button>filter</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    .card-img {
        aspect-ratio: 1.2/1 !important;
    }
</style>
{% endblock css %}