{% load static%}
<div style="background-color: red; width: 100 ; height:350px "  >
   <div class="conatiner">
       <div class="row">
       <div class="col-md-3 mt-3 ms-5">
           <h3 class="text-white">Contact Information</h3>
           <p style="color: yellow; font-size: 18px;"> <i class="fa fa-map-marker text-red"> Village - Surajpur District 
               - Mau <br>  Uttar Pradesh, India</i></p>
           <p style="color: yellow; font-size: 18px;"> <i class="fa fa-envelope  ">  rohanjaiswar29@gmail.com </i></p>
           <p style="color: yellow; font-size: 18px;"> <i class="fa fa-mobile "> +91 8808978383 / 8887923965 </i></p>            
      
       </div>
              <div class="col-md-3 mt-3">
           <h3 class="text-white"> online Placement</h3>
           <p style="color : yellow ; font-size: 18px;">
               Online placement typically refers to the process of finding and securing 
               employment opportunities through online job portals, career websites,
                and other digital platforms. This process has become increasingly 
                popular in recent years, as more and more companies use the internet
                 to advertise job openings and find qualified candidates.
           </p></div>
           <div class="col-md-3 mt-3 ">
           <div>
           <h3 class="text-white"> online Placement</h3>
          </div>
       </div>  
   </div>

   </div>

</div>